#gioithieu{
	background-color: #3d3d3d;
	color: #ffd154;
	text-align: Center;
	padding: 2px;
}
#phanmodau{
	
	
	background: linear-gradient(90deg, rgba(234,233,255,1) 0%, rgba(252,167,213,1) 35%, rgba(194,245,255,1) 100%);
	margin: 0px;
	display: flex;
	flex-wrap: nowrap;
}
#modau1{
	flex: 8%;
	background-color: white;
	font-family: Comic Sans MS ;
	margin-left: 2%;
	margin-right: 50%;
	padding: 5px 5px 5px 20px;
}
#qh{
	color: red;
}
#petshop{
	color: blue;
}
#menu{
	flex: 1%;
	background-color: # bfd6ff;
	color: black;
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	margin-right: 1%;
	margin-left: 12%;
	width: 1%;
	border-radius: 12px;
	text-align: center;

}
#menu:hover {
	background-color: white;
	color: black;
}
#login{
	flex: 1%;
	background-color: # bfd6ff;
	color: black;
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	margin-left: 0%;
	margin-right: 1%;
	border-radius: 12px;
	text-align: center;

}
#login:hover {
	background-color: white;
	color: black;
}
@media(max-width:800px){
	#modau1{
		flex: 10%;
		margin-left: 25%;
		margin-right: 22%;
	}
	#menu{
		flex: 30%;
		text-align: center;
	}
	#login{
		flex: 30%;
		text-align: center;
	}
	#phanmodau{
		display: flex;
		flex-wrap: wrap;
	}
}
nav {
	padding: 15px 30px 15px 30px;
	background: linear-gradient(90deg, rgba(234,233,255,1) 0%, rgba(252,167,213,1) 35%, rgba(194,245,255,1) 100%);
	margin: 0px;
	
}
nav a {
	padding: 15px 20px 15px 20px;
	
	
	text-decoration: None;
	color: gray;
	

}
Nav a:hover {
	background-color: gray ;
	color: white;
}
@media(max-width:800px){
	Nav a{
		flex: 45%;
		text-align: center;
	}
	Nav {
		display: flex;
		flex-wrap: wrap;
	}
}


@media(max-width: 800px){
	#right_side{
		flex:100%;
	}
	#left_side{
		flex: 100%;
	}
	#flex_container{
		display: Flex;
		flex-wrap: wrap;
	}
	
}
#phananh{
	font-family: monospace ;
	font-size: 10px;
	color: #3d3d3d;
}
.image{
	width: 60%;
}
.cac_anh{
	flex: 33%;
	text-align: center;
}
.chuthich{
	color: #3d3d3d;
}
#khu_anh{
	display: flex;
	flex-wrap: wrap;
}
@media(max-width:800px){
	.image{
	width: 60%;
}
.cac_anh{
	flex: 50%;
	text-align: center;
}
#khu_anh{
	display: flex;
	flex-wrap: wrap;
}
}
#left_side{
	flex: 30%;
	background-color: #f1f1f1;
	padding: 25px 15px 25px 25px;
}
#right_side{
	flex: 70%;
	padding: 25px 15px 25px 15px;
	background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201208/pngtree-cute-colorful-cat-paw-imprint-background-image_503830.jpg);
	
}
#flex_container{
	display: Flex;
}
#phancuoi{
	background-color: #3d3d3d;
	color: #ffd154;
	text-align: Center;
	padding: 5px;
}
